/* Здесь необходимо написать стили, при которых будут 
 моргать глаза, работаем исключительно в @keyframes. остальные стили не трогаем*/
@keyframes eyes {
  0% {
    transform: scaleY(-1);
  }
  50% {
  }
  100% {
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eyes {
  display: flex;
  height: 120px;
  align-items: center;
  animation: eyes 2s ease-in-out infinite;
  transition: 5s;
}
.box {
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color: #000;
  margin: 10px;
  animation: box 2s ease-in-out infinite;
  transition: 5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.stick {
  width: 200px;
  height: 10px;
  background-color: #000;
  margin: 20px;
  margin-top: 50px;
}

.traffic-light {
  width: 150px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic-light .circle {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
}
